.loginBox {
  width: 350px;
  height: 380px;
  background-color: var(--component-bg-color);

  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  padding: 20px;
  margin-bottom: 20px;

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.loginBox:hover {
  transform: scaleY(-5px);
  box-shadow: 0 0 12px 3px #025d92;
}

.loginTitle {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;

  margin-bottom: 20px;
}

.loginInputs {
  display: flex;
  flex-direction: column;

  gap: 10px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.myInputs {
  background-color: #d4dded;
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 0 10px;
  height: 50px;
  min-width: 300px;
  font-size: 14px;

  outline: none;
  transition: border-color 0.15s ease, outline 0.15s ease, box-shadow 0.15s ease;
}

.myInputs::placeholder {
  color: #666565;
}

.myInputs:focus {
  border-color: #7fbfff;
  outline: 2px solid #7fbfff;
  outline-offset: 0.8px;
  background-color: #d4dded;
  box-shadow: none;
}

.btnEnter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #025d92;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  margin-top: 10px;

  transition: background-color 0.2s ease-in, transform 0.2s ease-in;
}

.btnEnter:hover {
  background-color: #0377b9;
  cursor: pointer;
}

.btnEnter:active {
  transform: scale(0.97);
}

.recoverBox {
  margin-top: 20px;
  display: flex;
  gap: 3px;
}

.recover {
  color: #ed2590;
  font-weight: bold;
}

.recover:hover {
  text-decoration: underline;
  cursor: pointer;
}

.notMemberBox {
  width: 350px;
  height: 160px;
  background-color: var(--component-bg-color);

  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  padding: 20px;

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.notMemberBox:hover {
  transform: scaleY(-5px);
  box-shadow: 0 0 12px 3px #025d92;
}

.signupBox {
  display: flex;
  flex-direction: column;
  justify-content: center; /* centraliza vertical */
  align-items: center; /* centraliza horizontal */
  gap: 10px;
  height: 100%; /* ocupa toda altura do .not-member-box */
}

.notYetAMember {
  font-size: 1.2rem;
  font-weight: bold;
}

.signUp {
  color: #ed2590;
  font-weight: bold;
}

.signUp:hover {
  text-decoration: underline;
  cursor: pointer;
}

.spinner {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #fff;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
