@import "tailwindcss";

html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tema Default - Claro */
:root {
  --background-color: #d4dded;
  --component-bg-color: #ffffff;
  --nav-bg-color: #ffffff;
  --footer-bg-color: #ffffff;
  --text-color: #353535;
  --hr-color: #0377b9;
}

/* Tema Escuro */
[data-theme="dark"] {
  --background-color: #0b1622;
  --component-bg-color: #152232;
  --text-color: #ffffff;
  --hr-color: #ed2590;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* button,
input,
textarea {
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: 1px solid var(--primary-color);
  transition: all 0.3s ease;
} */

.site-content {
  flex: 1 0 auto;
}
