main {
  max-width: 1700px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;

  display: flex;
  flex-direction: row;
  gap: 20px;
}

.community-central-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.community-right-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
