.community-details-container {
  width: 900px;
  min-height: 400px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  padding-inline: 30px;
  padding-top: 10px;
  padding-bottom: 30px;
}

.community-name {
  font-size: 2rem;
  font-weight: bold;
}
