.community-details-container {
  width: 900px;
  min-height: 250px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  padding-inline: 30px;
  padding-top: 10px;
  padding-bottom: 30px;
}

.community-name {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.community-info-container {
  display: flex; /* Colunas lado a lado */
  gap: 40px; /* Espaço entre colunas */
}

.community-info-column {
  flex: 1; /* Cada coluna ocupa metade do espaço disponível */
}

.community-info-line {
  display: grid;
  grid-template-columns: 200px 1fr; /* 200px para o label, resto para o value */
  align-items: center;
  margin-bottom: 8px;
}

.community-info-line-label {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 6px; /* espaço entre ícone e texto */
}

.community-info-line-value {
  display: flex;
  align-items: center;
}

.communitydetails-hr-faded {
  display: block;
  border: none;
  height: 1px;
  width: 100%;
  background: linear-gradient(to right, transparent, #0377b9, transparent);

  margin-top: 20px;
  margin-bottom: 20px;
}
