.searchAsideContainer {
  width: 400px;
  min-height: 250px;
  background-color: var(--component-bg-color);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  padding-top: 15px;
  padding-inline: 25px;
}

.searchAsideTitle {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 18px;
}

.categoriesList {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.category {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.categoryLabel {
  cursor: pointer;
  transition: color 0.2s ease-in;
}

.categoryLabel:hover {
  color: #ed2590;
}

/* .categoryLink {
  display: inline-block;
  cursor: pointer;
  transition: color 0.2s ease-in;
} */

.categoryLink:hover {
  color: #0377b9;
}

/* Checkbox Dinâmico - Aparência */
.checkbox {
  appearance: none;
  position: relative;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

/* Checkbox - Marcador */
.checkbox::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0, 43% 62%);
  transform: translate(-50%, -50%) scale(0);
  transition: 0.125s transform ease-in;
  box-shadow: inset 16px 16px #fff;
}

/* Checkbox Checked */
.checkbox:checked {
  background-color: #ed2590;
  border-color: #ed2590;
}

.checkbox:checked::before {
  transform: translate(-50%, -50%) scale(1);
}

/* Focus Checkbox */
.checkbox:focus {
  border-color: #ed2590;
}

/* Checkbox disabled */
.checkbox:disabled {
  opacity: 0.25;
}
