.communityMembersContainer {
  width: 460px;
  height: auto;
  background-color: var(--component-bg-color);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  padding: 30px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.communityMembersTitle {
  font-size: 1.4rem;
  font-weight: bold;
}

.members {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Alinha os blocos amigos no topo da linha */
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.memberContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* centraliza imagem + nome dentro do bloco */
  justify-content: flex-start; /* itens começam do topo */
  width: 100px; /* força todos os blocos a ter a mesma largura */
  gap: 5px; /* espaço entre imagem e nome */
}

.memberInfo {
  display: flex;
  flex-direction: column;
  align-items: center; /* centraliza imagem + nome horizontalmente */
  gap: 5px; /* espaço entre imagem e nome */
}

.memberPicture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.memberNameNickname {
  text-align: center; /* centraliza o nome dentro do bloco */
  margin: 0;
  font-size: 0.95rem;
  word-break: break-word; /* evita que nomes longos quebrem o layout */
}

.memberHrFaded {
  display: block;
  border: none;
  height: 1px; /* aumenta um pouco pra enxergar melhor */
  width: 100%;
  background: linear-gradient(
    to right,
    transparent,
    var(--hr-color),
    transparent
  );

  margin-top: 15px;
  margin-bottom: -20px;
}

.seeAllMembers {
  font-size: 1.1rem;
  font-weight: bold;
  color: #ed2590;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;

  margin-top: 20px;

  transition: color 0.2s ease-in;
}

.seeAllMembers:hover {
  color: #0377b9;
  cursor: pointer;
}
