.profileDetailsContainer {
  min-width: 900px;
  min-height: 400px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  padding-inline: 30px;
  padding-top: 10px;
  padding-bottom: 30px;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

  margin-bottom: 10px;
}

.breadcrumbsIcon {
  color: #0377b9;
}

.breadcrumbsAactive {
  color: #ed2590;
}

.profileDetailsNameNickname {
  font-size: 2rem;
  font-weight: bold;
}

.thoughts {
  position: relative; /* necessário para posicionar a ponta */
  width: 100%;
  height: auto;
  background-color: #f0f5fc;
  border-radius: 5px;
  padding: 10px;
}

/* ponta do balão */
.thoughts::before {
  content: "";
  position: absolute;
  top: -10px; /* distancia do topo do balão */
  left: 20px; /* distancia da esquerda onde a ponta começa */
  border-width: 0 10px 10px 10px; /* cria triângulo invertido */
  border-style: solid;
  border-color: transparent transparent #f0f5fc transparent;
}

.attributesContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;

  gap: 20px;
}

.attributeContainer {
  display: flex;
  flex-direction: column;

  gap: 5px;
}

.attributeInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.fansAttributeIcon {
  color: #ffbf00;
}

.trustedAttributeIcon {
  color: #ffb300;
}

.coolAttributeIcon {
  color: #4382ff;
}

.sexyAttributeIcon {
  color: rgb(204, 5, 5);
}

.userInfoExtendedContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.userInfoExtendedContainer .infoPair {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.userInfoExtendedContainer dt {
  font-weight: bold;
  width: 200px; /* largura fixa para alinhar todos os valores */
}

.userInfoExtendedContainer dd {
  margin: 0; /* remove a margem padrão */
}

.rangeYes {
  background-color: #f0f5fc;
  margin-inline: -30px;
  padding-inline: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
